node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.local
.ds_store
yarn-error.log
.next
out
.nuxt
dist
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
